<h1>Projects</h1>

<ul>
<% @projects.each do |project| %>
    <li>
        <h3><%= project.name %></h3>
        <p>
            <%= project.description %>
            <strong><%= number_to_currency(project.target_pledge_amount)  %></strong>
        </p>
    </li>
<% end %>
</ul>
